* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

a,
a:visited {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* biar rapi */
}

nav ul li {
  display: inline-block; /* lebih rapi dibanding inline */
  margin: 0 8px;
}

main {
  width: 80%;
  margin: 0 auto;
}
